[data-type="lexicon-view"] .view-content {
    padding: 0px;
}

.app-container:has(.workspace-leaf.mod-active .workspace-leaf-content[data-type="lexicon-view"]) .status-bar {
    display: none;
}

.lexicon-configurator {
    min-width: fit-content;
    min-height: fit-content;
    width: 6in;
    height: 4in;
    padding: 0px;
}
.lexicon-configurator-content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 4in;
}
.lexicon-configurator-titlebar {
    padding: var(--size-4-3);
}
.lexicon-configurator-titlebar .modal-title {
    text-align: center;
}
.lexicon-configurator .modal-header {
    display: none;
}
.lexicon-configurator .modal-content {
    display: flex;
    flex-direction: column;
}
.lexicon-configurator .vertical-tabs-container {
    flex-grow: 1;
}
.lexicon-configurator-tabs {
    display: flex;
    flex-direction: column;
    width: fit-content;
    min-width: 20%;
    padding: var(--size-4-3);
    gap: 4px;
    border-inline-end: var(--border-width) solid var(--divider-color);
}
.lexicon-configurator-content {
    flex-grow: 1;
    padding: var(--size-4-3);
    overflow: auto;
}
.lexicon-configurator-tab:not(.clickable-icon) {
    background-color: transparent;
    color: var(--text-normal);
    border-radius: var(--radius-m);
    border: none;
    box-shadow: none;
}
.lexicon-configurator-tab.active {
    background-color: var(--color-accent);
    color: var(--text-on-accent);
}
.lexicon-configurator-placeholder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    --icon-size: var(--icon-xl);
}
.lexicon-configurator-placeholder .svg-icon {
    stroke: var(--color-accent-1);
    stroke-width: var(--icon-xl-stroke-width);
}
.lexicon-configurator-placeholder-label {
    margin: 1em;
    color: var(--color-accent-1);
    font-size: var(--font-small);
}


.paradigm-modal-label {
    color: var(--text-muted);
    padding-bottom: 12px;
}
.inflection-modal .setting-item.invalid .setting-item-name {
    color: var(--color-red);
}
.inflection-modal .setting-item.invalid .setting-item-control button {
    --color-accent: var(--color-red);
    --color-accent-1: var(--color-red);
}


.lexicon-container {
    max-height: 100%;
    overflow-x: scroll;
    width: 100%;
}

.lexicon-empty {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    --icon-size: calc(var(--icon-xl) * 2);
}

.lexicon-empty .svg-icon {
    stroke: var(--color-accent-1);
    stroke-width: calc(var(--icon-xl-stroke-width) / 2);
}

.lexicon-empty-label {
    color: var(--color-accent-1);
    margin: 1em;
}

.lexicon-table {
    min-width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
}

.lexicon-table tbody {
    display: table;
    width: 100%
}

.lexicon-table tr:hover:not(:first-child):not(:nth-child(2)) {
    background-color: var(--background-modifier-hover);
}

.lexicon-table tr td:nth-child(6), .lexicon-table tr th:nth-child(6) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
  
.lexicon-table td {
    padding: 4px 24px;
    border-radius: 0px;
}

.lexicon-header-row {
    font-weight: bold;
}


.lexicon-button:not(:hover) {
    background-color: transparent;
    box-shadow: none;
}

.inflection-button:hover {
    background-color: var(--color-accent-1)
}

.lexicon-button {
    vertical-align: middle;
    align-items: center;
    align-self: center;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: var(--radius-l);
    font-weight: var(--font-weight);
}
.lexicon-button.delete-button .svg-icon {
    stroke: var(--color-red);
}



.english-button {
    color: var(--italic-color) !important;
    font-style: italic;
}
.etymology-button.empty {
    color: var(--text-faint) !important;
}

.etymology-language {
    color: var(--bold-color);
    font-weight: bold;
}
.etymology-english {
    color: var(--italic-color) !important;
    font-style: italic;
}

.notes-button {
    color: var(--color-red) !important;
    font-family: 'Courier New', Courier, monospace;
}
.notes-button.empty {
    color: var(--text-faint) !important;
}



.inflection {
    background-color: var(--color-accent-1);
    border-radius: var(--radius-l);
}

.inflection-button .svg-icon {
    stroke: var(--text-on-accent);
}

.inflection-card {
    background-color: var(--color-accent);
    color: var(--text-on-accent);
    border-top-left-radius: var(--radius-l);
    border-top-right-radius: var(--radius-l);
    display: inline-flex;
    width: 100%;
}
.inflection-card.is-collapsed {
    border-radius: var(--radius-l);
}
.inflection-contents {
    padding: 12px;
}
.inflection-contents.hidden {
    height: 0px;
    padding: 0px;
}
.inflection-label-container {
    display: flex;
    padding-left: 4px;
    flex:1;
    align-items: center;
}

.inflection-fold {
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-self: center;
}

.inflection-fold.is-collapsed > .svg-icon {
    transform: rotate(calc(var(--direction) * -1 * 90deg));
}

.inflection-table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 0;
    color: var(--text-normal);
}
.inflection-table b {
    color: var(--text-on-accent);
}
.inflection-table th {
    padding-left: 6px;
    padding-right: 6px;
}
.inflection-table td {
    background-color: var(--background-primary);
    border: var(--table-border-width) solid var(--table-border-color) !important;
    padding: 4px 8px;
}
.inflection-table tr:not(:last-child) td {
    border-bottom: none !important;
}
.inflection-table tr td:not(:last-child) {
    border-right: none !important;
}
.inflection-table tr:nth-child(2) td:nth-child(2) {
    border-top-left-radius: var(--radius-l);
}
.inflection-table tr:nth-child(2) td:last-child {
    border-top-right-radius: var(--radius-l);
}
.inflection-table tr:last-child td:nth-child(2) {
    border-bottom-left-radius: var(--radius-l);
}
.inflection-table tr:last-child td:last-child {
    border-bottom-right-radius: var(--radius-l);
}
.inflection-table tr:hover:not(:first-child):not(:nth-child(2)) {
    background-color: transparent;
}


.inflection-modal .modal-header {
    margin-bottom: 0px;
}
.inflection-modal-container {
    display: flex;
    justify-content: center;
}
.inflection-modal-table {
    height: 100%;
}
.inflection-modal-table td {
    text-align: center;
}
.inflection-modal-header input {
    font-weight: bold;
}
.inflection-modal-table .inflection-modal-button {
    aspect-ratio: 1 / 1;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0%;
}
.inflection-modal-table .delete .svg-icon {
    height: 1.25em;
    stroke: var(--color-red);
}
.inflection-modal-table .inflection-modal-button:hover {
    box-shadow: var(--input-shadow);
}
.inflection-modal-table .inflection-modal-header input {
    background-color: var(--background-secondary);
}
.inflection-modal-table .setting-item-control {
    width: 100%;
}
.inflection-modal-table .setting-item-info {
    display: none;
}
.inflection-modal-table input {
    field-sizing: content;
    width: 100%;
    text-align: center;
    background-color: var(--background-primary);
}

.lexicon-search {
    background: none;
    border: none;
    box-shadow: var(--input-shadow);
    border-radius: var(--radius-l);
    padding: 4px 8px;
    width: 100%;
    min-width: 60px;
}



.etymology-modal-section {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.75em;
}

.etymology-modal-section .setting-item {
    padding: 0.25em 0;
}

.etymology-management-content {
    vertical-align: center;
}

.etymology-modal-button {
    vertical-align: middle;
    align-items: center;
    align-self: center;
    margin: 0 12px;
}

.etymology-done-button {
    float: right;
}