.lexicon-table {
    display: block;
    border-collapse: collapse;
    overflow: auto;
    white-space: nowrap;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
}

.lexicon-table tbody {
    display: table;
    width: 100%
}

.lexicon-table tr:hover:not(:first-child):not(:nth-child(2)) {
    background-color: var(--color-base-05);
}

.lexicon-table tr td:nth-child(6), .lexicon-table tr th:nth-child(6) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
  
.lexicon-table td {
    padding: 4px 24px;
}

.lexicon-header-row {
    font-weight: bold;
}


.lexicon-button:not(:hover) {
    background-color: transparent;
    box-shadow: none;
}

.lexicon-button:hover {
    background-color: transparent;
}

.lexicon-button {
    vertical-align: middle;
    align-items: center;
    align-self: center;
    padding: 4px;
    aspect-ratio: 1;
    border-radius: 12px;
}



.english-button {
    color: var(--italic-color) !important;
    font-style: italic;
}
.etymology-button.empty {
    color: var(--text-faint) !important;
}

.etymology-language {
    color: var(--bold-color);
    font-weight: bold;
}
.etymology-english {
    color: var(--italic-color) !important;
    font-style: italic;
}

.notes-button {
    color: var(--color-red) !important;
    font-family: 'Courier New', Courier, monospace;
}
.notes-button.empty {
    color: var(--text-faint) !important;
}



.inflection {
    background-color: var(--color-accent-1);
    border-radius: 12px;
}

.inflection-button .svg-icon {
    stroke: var(--text-on-accent);
}

.inflection-card {
    background-color: var(--color-accent);
    color: var(--text-on-accent);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: inline-flex;
    width: 100%;
}
.inflection-card.is-collapsed {
    border-radius: 12px;
}
.inflection-contents {
    padding: 12px;
}
.inflection-contents.hidden {
    display: none;
}
.inflection-label-container {
    display: flex;
    padding-left: 4px;
    flex:1;
    align-items: center;
}

.inflection-fold {
    display: flex;
    vertical-align: middle;
    align-items: center;
    align-self: center;
}

.inflection-fold.is-collapsed > .svg-icon {
    transform: rotate(calc(var(--direction) * -1 * 90deg));
}

.inflection-table {
    text-align: center;
    border-collapse: collapse;
    color: var(--text-normal);
}
.inflection-table b {
    color: var(--text-on-accent);
}
.inflection-table th {
    padding-left: 6px;
    padding-right: 6px;
}
.inflection-table td {
    background-color: var(--background-primary);
    border: 1px solid var(--background-modifier-border);
    padding: 4px 8px;
}
.inflection-table tr:hover:not(:first-child):not(:nth-child(2)) {
    background-color: transparent;
}



.inflection-modal-table {
    height: 100%;
}
.inflection-modal-header input {
    font-weight: bold;
}
.inflection-modal-table .inflection-modal-button {
    aspect-ratio: 1 / 1;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0%;
}
.inflection-modal-table .delete .svg-icon {
    height: 1.25em;
    stroke: darkred;
}
.inflection-modal-table .inflection-modal-button:hover {
    box-shadow: var(--input-shadow);
}
.inflection-modal-table .inflection-modal-header input {
    background-color: var(--background-secondary);
}
.inflection-modal-table .setting-item-control {
    width: 100%;
}
.inflection-modal-table .setting-item-info {
    display: none;
}
.inflection-modal-table input {
    field-sizing: content;
    width: 100%;
    text-align: center;
}

.lexicon-search {
    background: none;
    border: none;
    box-shadow: var(--input-shadow);
    border-radius: 12px;
    padding: 4px 8px;
    width: 100%;
    min-width: 60px;
}



.etymology-modal-section {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0.75em;
}

.etymology-modal-section .setting-item {
    padding: 0.25em 0;
}

.etymology-management-content {
    vertical-align: center;
}

.etymology-modal-button {
    vertical-align: middle;
    align-items: center;
    align-self: center;
    margin: 0 12px;
}

.etymology-done-button {
    float: right;
}